* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 83.3%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container #inp1,
.container #inp2,
.container #inp3 {
    width: 100px;
    padding: 10px;
}

.container #inp2 {
    width: 60px;
}

.container button {
    padding: 10px;
    background-color: blue;
    border-radius: 10px;
    border: none;
}